---
title: Coverline
---

<div id="floater"></div>
<div id="wrap">
  <div id="header">
    <div id="title-wrap">
      <h1 id="title">
        <a id="title-link" href="#">Coverline Production Agency</a>
      </h1>
      <a id="contact-link" href="#" title="Contact Info">Contact Page</a>
    </div>
    <div id="photographer-wrap">
      <h2 id="photographer">Photographer</h2>
      <h3 class="photographer-item">
        <a id="loki-tsai-link" class="photographer-link" href="#" title="LOKI TSAI">LOKI TSAI</a>
      </h3>
      <h3 class="photographer-item">
        <a id="minshi-jiang-link" class="photographer-link" href="#" title="MINSHI JIANG">MINSHI JIANG</a>
      </h3>
      <h3 class="photographer-item">
        <a id="jack-wang-link" href="#" class="photographer-link" title="JACK WANG">JACK WANG</a>
      </h3>
    </div>
  </div>
  <div id="nav-wrap">
    <ul id="nav">
      <li id="artists-wrap" class="side-wrap">
        <h2 id="artists">Artists</h2>
        <h3 id="artists-subtitle">
          <a id="artists-subtitle-link" href="#" title="Bontique, Advertising">Bontique, Advertising</a>
        </h3>
      </li>
      <li id="fashion-wrap" class="side-wrap">
        <h2 id="fashion">Fashion</h2>
        <h3 id="fashion-subtitle">
          <a id="fashion-link" href="#" title="The Stylist, beauty">The Stylist, Beauty</a>
        </h3>
      </li>
      <li id="casting-wrap" class="side-wrap">
        <h2 id="casting">Casting</h2>
        <h3 id="casting-subtitle">
          <a id="casting-subtitle-link" href="#" title="Runway, Commercial model">Runway, Commercial model</a>
        </h3>
      </li>
      <li id="film-wrap" class="side-wrap">
        <h2 id="film">Film</h2>
        <h3 id="film-subtitle">
          <a id="film-subtitle-link" href="#" title="Art video, Behind the Scenes">Art video, Behind the Scenes</a>
        </h3>
      </li>
    </ul>
  </div>
  <div id="footer">
    <h2 id="contact">Contact</h2>
    <p id="contact-detail">
      <span id="address">1F, No.97-1, Lane 11, Guangfu N. Rd., Songshan Dist., Taipei City, 10560, TAIWAN R.O.C</span>
      <span id="phone">TEL + 886 2 2747 7658</span>
    </p>
  </div>
</div>
